In [26]:
import pandas as pd
import numpy as np
import torch.nn as nn
import torch

In [27]:
doge_df = pd.read_csv('dataset/doge.csv')

In [28]:
doge_df.head()

         Date      Open      High       Low     Close
0  2019-01-01  0.002319  0.002382  0.002246  0.002365
1  2019-01-02  0.002378  0.002407  0.002315  0.002354
2  2019-01-03  0.002358  0.002441  0.002268  0.002294
3  2019-01-04  0.002297  0.002331  0.002174  0.002270
4  2019-01-05  0.002292  0.002316  0.002212  0.002258

In [29]:
doge_df.shape

(1217, 5)

In [30]:
doge_df.index = doge_df['Date']

In [31]:
doge_df.index = pd.to_datetime(doge_df.index)

In [32]:
doge_df.drop(columns=['Date','Open','High','Low'])

               Close
Date
2019-01-01  0.002365
2019-01-02  0.002354
2019-01-03  0.002294
2019-01-04  0.002270
2019-01-05  0.002258
...              ...
2022-04-27  0.139795
2022-04-28  0.137574
2022-04-29  0.134958
2022-04-30  0.127417
2022-05-01  0.127446

[1217 rows x 1 columns]

In [33]:
idx = int(len(doge_df)*0.7)
train_df = doge_df[:idx]
test_df = doge_df[idx:]

In [34]:
train_values = train_df['Close'].values.reshape(-1,1)
test_values = test_df['Close'].values.reshape(-1,1)

# normalizing data

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaled_training = MinMaxScaler().fit_transform(train_values)
sclaed_testing = MinMaxScaler().fit_transform(test_values)

In [45]:
n_past = 60
n_future = 10
x_train = []
y_train = []
x_test = []
y_test = []

In [37]:
for i in range(n_past,len(train_values)-n_future + 1):
    x_train.append(scaled_training[i-n_past:i,0:train_values.shape[1]])
    y_train.append(scaled_training[i:i+n_future,0:train_values.shape[1]])

In [ ]:
for i in range(n_past,len(test_values)-n_future +1):
    x_test.append(scaled_testing[i-n_past:i,0:test_values.shape[1]])
    y_test.append(scaled_testing[i-n_past:i,0:test_values.shape[1]])

In [38]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [39]:
print('x_train shape == {}'.format(x_train.shape))
print('y_train shape == {}'.format(y_train.shape))

x_train shape == (782, 60, 1)
y_train shape == (782, 10, 1)

the shape of data is(total_dataset in sequence, sequence length,input size)

In [40]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [41]:
x_tensor = torch.from_numpy(x_train)
y_tensor = torch.from_numpy(y_train)

In [42]:
import model_seq2seq

In [43]:
model = model_seq2seq.lstm_seq2seq(input_size = x_tensor.size(2), hidden_size = 20, num_layers=1)

In [44]:
loss = model.train(x_tensor.float(), y_tensor.float(), epochs= 10, target_len= y_tensor.size(1), batch_size= 30, training_prediction='recursive')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:09<00:00,  1.01it/s, loss=0.009]

In [ ]:
model.predict()